In [2]:
import pandas as pd

# Importing and Exporting Data - QUICK REVIEW

In [3]:
import os

In [9]:
os.listdir()

['.DS_Store',
 'data-manipulation.ipynb',
 'lab-data-manipulation-solutions.ipynb',
 'vehicles',
 '.ipynb_checkpoints']

In [11]:
pd.read_csv('./vehicles/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
pd.read_csv('./vehicles/vehicles.csv', sep=';')

In [12]:
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-06-26/week13_alcohol_global.csv'

In [13]:
pd.read_csv(url)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [14]:
dataframe = pd.read_csv(url)

In [15]:
dataframe.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [19]:
dataframe.to_csv('vehicles/example_dataset.csv', index=False)

In [22]:
# pd.read_csv('vehicles/example_dataset.csv', index_col=0)

In [ ]:
pd.read_csv('vehicles/example_dataset.csv')

# Data Manipulation - PART 1

In [25]:
import pandas as pd

data = pd.read_csv('vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Checking the dataframe column names

In [26]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

## Accessing dataframes

> * .iloc
- Serve pra vocÃª selecionar uma parte do dataframe especificando o indice da linha 

> * .loc
- Serve pra vocÃª selecionar uma parte do dataframe especificando linhas e colunas.

In [31]:
data[['Year']]

       Year
0      1984
1      1984
2      1985
3      1985
4      1987
...     ...
35947  2013
35948  2014
35949  2015
35950  2016
35951  2016

[35952 rows x 1 columns]

In [32]:
data[100:200]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
100,Acura,Legend,1989,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
101,Acura,Legend,1990,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,20,18,493.722222,1850
102,Acura,Legend,1990,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
103,Acura,Legend,1991,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,18.311667,17,21,18,493.722222,2250
104,Acura,Legend,1991,3.2,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,16,24,19,467.736842,2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Acura,RL,2008,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
196,Acura,RL,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
197,Acura,RL,2010,3.7,6.0,Automatic (S5),All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
198,Acura,RL,2011,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000
199,Acura,RL,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000

In [36]:
data['Year']

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [34]:
data.iloc[100]

Make                                   Acura
Model                                 Legend
Year                                    1989
Engine Displacement                      2.7
Cylinders                                  6
Transmission                    Manual 5-spd
Drivetrain                 Front-Wheel Drive
Vehicle Class                   Compact Cars
Fuel Type                            Regular
Fuel Barrels/Year                    17.3479
City MPG                                  17
Highway MPG                               22
Combined MPG                              19
CO2 Emission Grams/Mile              467.737
Fuel Cost/Year                          1750
Name: 100, dtype: object

In [38]:
data.loc[100, ['Make','Year']]

Make    Acura
Year     1989
Name: 100, dtype: object

In [ ]:
# data[['Model','Year']] vs data.loc[:, ['Model','Year']]

In [57]:
data.loc[30:2222, ['Year']]

      Year
30    1996
31    1997
32    1998
33    1999
34    2000
...    ...
2218  2013
2219  2014
2220  2015
2221  2016
2222  2017

[2193 rows x 1 columns]

In [54]:
type(data.loc[30:2222, 'Year'])

pandas.core.series.Series

In [55]:
type(data.loc[30:2222, ['Year']])

pandas.core.frame.DataFrame

In [51]:
data.loc[30:2222, ['Model','Year']]

                         Model  Year
30                       3.5RL  1996
31                       3.5RL  1997
32                       3.5RL  1998
33                       3.5RL  1999
34                       3.5RL  2000
...                        ...   ...
2218  535i xDrive Gran Turismo  2013
2219  535i xDrive Gran Turismo  2014
2220  535i xDrive Gran Turismo  2015
2221  535i xDrive Gran Turismo  2016
2222  535i xDrive Gran Turismo  2017

[2193 rows x 2 columns]

In [58]:
data.iloc[10:20]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000

In [59]:
data.loc[10:20, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150

# Rename columns 
>    - Rename some columns
>    - Rename all columns
>    - The `Inplace` clause

In [60]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [63]:
data_renamed = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

# this is only printing on screen

In [67]:
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [69]:
data.head(2)
# the column names did not change.

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

Two options:
> 1. store it again on the variable `data`: 

    data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})
> 2. Use the inplace argument `inplace =  True` to change the values within the dataframe automatically

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [70]:
# using rename and storing the results in a variable
renamed_data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

In [71]:
renamed_data.head(2)

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [72]:
# using inplace
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [73]:
data.columns

Index(['Manufacturer', 'Model', 'ANO', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [74]:
data.columns = ['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement', 'Cylinders',
'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

In [76]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
# substituting the .columns attribute of the dataframe

cols = ['Manufacturer','Model','Year','Displacement',
        'Cylinders','Transmission','Drivetrain',
        'Vehicle Class','Fuel Type','Fuel Barrels/Year',
        'City MPG','Highway MPG','Combined MPG',
        'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns = cols
data.head(2)

# Change ORDER
>    - Remember you always pass a list to a dataframe

Just select the columns in a different order and overwrite the previous dataframe

In [79]:
data[['Manufacturer','Model']].head(2)

  Manufacturer              Model
0   AM General  DJ Po Vehicle 2WD
1   AM General   FJ8c Post Office

In [80]:
data[['Model', 'Manufacturer']].head(2)

               Model Manufacturer
0  DJ Po Vehicle 2WD   AM General
1   FJ8c Post Office   AM General

In [84]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [81]:
data.columns

Index(['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [89]:
columns = ['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', ]

In [85]:
data = data[columns]

In [88]:
data

,Manufacturer,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.

column_order = ['Year','Manufacturer','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]

In [113]:
data = data[['Model']]

In [114]:
data

                     Model
0        DJ Po Vehicle 2WD
1         FJ8c Post Office
2      Post Office DJ5 2WD
3      Post Office DJ8 2WD
4                      GNX
...                    ...
35947         fortwo coupe
35948         fortwo coupe
35949         fortwo coupe
35950         fortwo coupe
35951         fortwo coupe

[35952 rows x 1 columns]

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.



data = data[['Year','Manufacturer','Model','Vehicle Class',
'Transmission','Drivetrain','Fuel Type',
'Cylinders','Displacement','Fuel Barrels/Year',
'City MPG','Highway MPG','Combined MPG',
'CO2 Emission Grams/Mile','Fuel Cost/Year']]

In [ ]:
data.head(2)

In [98]:
data.columns

Index(['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

In [103]:

column_test = ['', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', '', 'CO2 Emission Grams/Mile']

data.columns = column_test

In [104]:
data

,,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

# Filter records
>    - masks 
>    - query

This is really important for data wrangling.

In [115]:
data = pd.read_csv('vehicles/vehicles.csv')

In [117]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

## Simple Example: Starting with a numpy array. How can I filter the values of a list?

In [105]:
import numpy as np

In [106]:
my_array = np.array([1,2,3,4,5,6,7,8,9,10])

In [107]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [118]:
# this is what is called a mask (or a condition)
my_array > 6

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [121]:
my_array[3:6]

array([4, 5, 6])

In [123]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [124]:
my_array > 3

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [128]:
my_array[[False, False, False,  True,  True,  True,  True,  True,  True, True]]

array([ 4,  5,  6,  7,  8,  9, 10])

In [132]:
condition = (my_array > 3)
condition

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [135]:
(my_array > 3)

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [137]:
(my_array < 8)

array([ True,  True,  True,  True,  True,  True,  True, False, False,
       False])

In [138]:
# when you use this mask, it only returns the values for which the results were True
my_array[(my_array > 3)]

array([ 4,  5,  6,  7,  8,  9, 10])

## Now in a dataframe

Let's find the rows in which the Cylinders values are exactly 6.

In [139]:
data['Cylinders'].value_counts()

4.0     13494
6.0     12765
8.0      7998
5.0       723
12.0      562
3.0       201
10.0      153
2.0        48
16.0        8
Name: Cylinders, dtype: int64

In [140]:
data['Cylinders']

0        4.0
1        6.0
2        4.0
3        6.0
4        6.0
        ...
35947    3.0
35948    3.0
35949    3.0
35950    3.0
35951    3.0
Name: Cylinders, Length: 35952, dtype: float64

In [141]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [144]:
data_bkp = data.copy()

In [142]:
(data['Cylinders'] = 6).sum()

12765

In [151]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [152]:
data['Cylinders'] == 6


data[data['Cylinders'] == 6]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35900,Wallace Environmental,Wetl 300 GE,1991,2.9,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Premium,27.467500,11,13,12,740.583333,3400
35901,Wallace Environmental,Wetl 300 SL,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35902,Wallace Environmental,Wetl 300 SL,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35903,Wallace Environmental,Wetl 300 TE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700
35904,Wallace Environmental,Wetl 300 TE,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700

In [156]:
data.iloc[data['Cylinders'] == 6]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [161]:
condition = (data['Cylinders'] == 6)

data.loc[condition, ['Make','Model']]

                        Make                Model
1                 AM General     FJ8c Post Office
3                 AM General  Post Office DJ8 2WD
4           ASC Incorporated                  GNX
7                      Acura          2.2CL/3.0CL
10                     Acura          2.3CL/3.0CL
...                      ...                  ...
35900  Wallace Environmental          Wetl 300 GE
35901  Wallace Environmental          Wetl 300 SL
35902  Wallace Environmental          Wetl 300 SL
35903  Wallace Environmental          Wetl 300 TE
35904  Wallace Environmental          Wetl 300 TE

[12765 rows x 2 columns]

In [162]:
data[data['Cylinders'] == 6]['Cylinders'].value_counts()

6.0    12765
Name: Cylinders, dtype: int64

## You can combine conditions

In [172]:
np.array([False, False, True]) and np.array([False, True, True])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [178]:
filtered = data[(data['Make']=='Ford') &
                (data['Cylinders']==6) &
                (data['Combined MPG'] < 18)]

filtered.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950

## You can put the conditions in variables as well

In [179]:
condition1 = (data['Make']=='Ford')
condition2 = (data['Cylinders']==6)
condition3 = (data['Combined MPG'] < 18)

In [180]:
data[condition1 & condition2 & condition3]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [181]:
data.loc[condition1 & condition2 & condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

## Another way to do the same thing.

* using the method `query`

The method `query` receives a string in which you can say your condition. Important things:
- `query` is a method of your dataframe
- the columns of the dataframe DOES NOT NEED to be inside quotation marks `"`, because it searchs for it in your dataframe
- the values you are trying to compare needs to be with the same type as it is in your dataframe
- If your column has spaces, you have to call it using backticks like in the example below:

In [188]:
parameter = data.loc[0, 'Fuel Barrels/Year']

In [189]:


data.query(f'Make == "Ford" and Cylinders >= 6 and `Fuel Barrels/Year` == {parameter}')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [185]:
%%timeit

data.loc[condition1 & condition2 & condition3, :]

613 Âµs Â± 2.53 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

# Conditional Categories
    - Mask
    - .loc

In [ ]:
data['Transmission']

In [ ]:
data['Transmission'].str.startswith('A')

## I want to create a new column called TransType and call it "Automatic" if the value in Transmission starts with A, if it startswith M, I want to call it "Manual"

In [ ]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [ ]:
data.TransType.value_counts()

------

# Data Manipulation - PART 2

# Group by 
>    - Aggregating function (f)
>    - as_index = False
>    - ```pd.merge``` 
>    - `left_on`, `right_on`

In [ ]:
data.groupby(by='Manufacturer')

In [ ]:
avg_mpg = data.groupby(by='Manufacturer').mean()
avg_mpg.head()

In [ ]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg[['Manufacturer', 'Combined MPG']].head()

## Rename it using .rename if you want

# How to merge dataframes based on a specific column

In [ ]:
pd.merge(data, avg_mpg, on='Manufacturer').head(2)

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Manu').head(2)

# How to concatenate dataframes?

In [ ]:
# creating a dataframe containing only the Manufacturer Lexus
lexus = data[data['Manufacturer']=='Lexus']

In [ ]:
# creating a dataframe containing only the Manufacturer Audi
audi = data[data['Manufacturer']=='Audi']

In [ ]:
# Concatenating both results

lexus_audi = pd.concat([lexus, audi], axis=0)
lexus_audi.head()

In [ ]:
melted = pd.melt(data, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted.head(10)

# Bins
> ```pd.cut``` vs ```pd.qcut```
> - Specify cutoffs

> - Use case
>     - Scores ~ decis (0,1,2,3,4,5,6,7,8,9)


Suppose I want to break the values of the variable `Combined MPG` into 5 categories: From Very Low to Very High

In [ ]:
data.head()

In [ ]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [ ]:
# performing the pd.cut operation without specifiyng the labels outputs the intervals
bins = pd.cut(data['Fuel Cost/Year'], 5)
bins

In [ ]:
# performing the pd.cut operation using the labels argument outputs your labels
bins = pd.cut(data['Fuel Cost/Year'], 5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins = pd.qcut(data['Fuel Cost/Year'],5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts()

In [ ]:
cutoffs = [1000,1500,2000,2500,3000,3500]
bins = pd.cut(data['Fuel Cost/Year'], cutoffs, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts(sort=False)

# Convert categorical variables columns
>    - One hot encoding

In [ ]:
data[['Drivetrain']]
# count the values within each category

In [ ]:
data['Drivetrain'].unique()

In [ ]:
data[['Drivetrain']].head()

In [ ]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()