In [2]:
import pandas as pd

# Importing and Exporting Data - QUICK REVIEW

In [3]:
import os

In [9]:
os.listdir()

['.DS_Store',
 'data-manipulation.ipynb',
 'lab-data-manipulation-solutions.ipynb',
 'vehicles',
 '.ipynb_checkpoints']

In [11]:
pd.read_csv('./vehicles/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
pd.read_csv('./vehicles/vehicles.csv', sep=';')

In [12]:
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-06-26/week13_alcohol_global.csv'

In [13]:
pd.read_csv(url)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [14]:
dataframe = pd.read_csv(url)

In [15]:
dataframe.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [19]:
dataframe.to_csv('vehicles/example_dataset.csv', index=False)

In [22]:
# pd.read_csv('vehicles/example_dataset.csv', index_col=0)

In [ ]:
pd.read_csv('vehicles/example_dataset.csv')

# Data Manipulation - PART 1

In [25]:
import pandas as pd

data = pd.read_csv('vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Checking the dataframe column names

In [26]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

## Accessing dataframes

> * .iloc
- Serve pra vocÃª selecionar uma parte do dataframe especificando o indice da linha 

> * .loc
- Serve pra vocÃª selecionar uma parte do dataframe especificando linhas e colunas.

In [31]:
data[['Year']]

       Year
0      1984
1      1984
2      1985
3      1985
4      1987
...     ...
35947  2013
35948  2014
35949  2015
35950  2016
35951  2016

[35952 rows x 1 columns]

In [32]:
data[100:200]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
100,Acura,Legend,1989,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
101,Acura,Legend,1990,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,20,18,493.722222,1850
102,Acura,Legend,1990,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
103,Acura,Legend,1991,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,18.311667,17,21,18,493.722222,2250
104,Acura,Legend,1991,3.2,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,16,24,19,467.736842,2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Acura,RL,2008,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
196,Acura,RL,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
197,Acura,RL,2010,3.7,6.0,Automatic (S5),All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
198,Acura,RL,2011,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000
199,Acura,RL,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000

In [36]:
data['Year']

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [34]:
data.iloc[100]

Make                                   Acura
Model                                 Legend
Year                                    1989
Engine Displacement                      2.7
Cylinders                                  6
Transmission                    Manual 5-spd
Drivetrain                 Front-Wheel Drive
Vehicle Class                   Compact Cars
Fuel Type                            Regular
Fuel Barrels/Year                    17.3479
City MPG                                  17
Highway MPG                               22
Combined MPG                              19
CO2 Emission Grams/Mile              467.737
Fuel Cost/Year                          1750
Name: 100, dtype: object

In [38]:
data.loc[100, ['Make','Year']]

Make    Acura
Year     1989
Name: 100, dtype: object

In [ ]:
# data[['Model','Year']] vs data.loc[:, ['Model','Year']]

In [57]:
data.loc[30:2222, ['Year']]

      Year
30    1996
31    1997
32    1998
33    1999
34    2000
...    ...
2218  2013
2219  2014
2220  2015
2221  2016
2222  2017

[2193 rows x 1 columns]

In [54]:
type(data.loc[30:2222, 'Year'])

pandas.core.series.Series

In [55]:
type(data.loc[30:2222, ['Year']])

pandas.core.frame.DataFrame

In [51]:
data.loc[30:2222, ['Model','Year']]

                         Model  Year
30                       3.5RL  1996
31                       3.5RL  1997
32                       3.5RL  1998
33                       3.5RL  1999
34                       3.5RL  2000
...                        ...   ...
2218  535i xDrive Gran Turismo  2013
2219  535i xDrive Gran Turismo  2014
2220  535i xDrive Gran Turismo  2015
2221  535i xDrive Gran Turismo  2016
2222  535i xDrive Gran Turismo  2017

[2193 rows x 2 columns]

In [58]:
data.iloc[10:20]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000

In [59]:
data.loc[10:20, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150

# Rename columns 
>    - Rename some columns
>    - Rename all columns
>    - The `Inplace` clause

In [60]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [63]:
data_renamed = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

# this is only printing on screen

In [67]:
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [69]:
data.head(2)
# the column names did not change.

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

Two options:
> 1. store it again on the variable `data`: 

    data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})
> 2. Use the inplace argument `inplace =  True` to change the values within the dataframe automatically

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [70]:
# using rename and storing the results in a variable
renamed_data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

In [71]:
renamed_data.head(2)

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [72]:
# using inplace
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [73]:
data.columns

Index(['Manufacturer', 'Model', 'ANO', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [74]:
data.columns = ['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement', 'Cylinders',
'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

In [76]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
# substituting the .columns attribute of the dataframe

cols = ['Manufacturer','Model','Year','Displacement',
        'Cylinders','Transmission','Drivetrain',
        'Vehicle Class','Fuel Type','Fuel Barrels/Year',
        'City MPG','Highway MPG','Combined MPG',
        'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns = cols
data.head(2)

# Change ORDER
>    - Remember you always pass a list to a dataframe

Just select the columns in a different order and overwrite the previous dataframe

In [79]:
data[['Manufacturer','Model']].head(2)

  Manufacturer              Model
0   AM General  DJ Po Vehicle 2WD
1   AM General   FJ8c Post Office

In [80]:
data[['Model', 'Manufacturer']].head(2)

               Model Manufacturer
0  DJ Po Vehicle 2WD   AM General
1   FJ8c Post Office   AM General

In [84]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [81]:
data.columns

Index(['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [89]:
columns = ['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', ]

In [85]:
data = data[columns]

In [88]:
data

,Manufacturer,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.

column_order = ['Year','Manufacturer','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]

In [113]:
data = data[['Model']]

In [114]:
data

                     Model
0        DJ Po Vehicle 2WD
1         FJ8c Post Office
2      Post Office DJ5 2WD
3      Post Office DJ8 2WD
4                      GNX
...                    ...
35947         fortwo coupe
35948         fortwo coupe
35949         fortwo coupe
35950         fortwo coupe
35951         fortwo coupe

[35952 rows x 1 columns]

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.



data = data[['Year','Manufacturer','Model','Vehicle Class',
'Transmission','Drivetrain','Fuel Type',
'Cylinders','Displacement','Fuel Barrels/Year',
'City MPG','Highway MPG','Combined MPG',
'CO2 Emission Grams/Mile','Fuel Cost/Year']]

In [ ]:
data.head(2)

In [98]:
data.columns

Index(['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

In [103]:

column_test = ['', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', '', 'CO2 Emission Grams/Mile']

data.columns = column_test

In [104]:
data

,,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

# Filter records
>    - masks 
>    - query

This is really important for data wrangling.

In [115]:
data = pd.read_csv('vehicles/vehicles.csv')

In [117]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

## Simple Example: Starting with a numpy array. How can I filter the values of a list?

In [105]:
import numpy as np

In [106]:
my_array = np.array([1,2,3,4,5,6,7,8,9,10])

In [107]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [118]:
# this is what is called a mask (or a condition)
my_array > 6

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [121]:
my_array[3:6]

array([4, 5, 6])

In [123]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [124]:
my_array > 3

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [128]:
my_array[[False, False, False,  True,  True,  True,  True,  True,  True, True]]

array([ 4,  5,  6,  7,  8,  9, 10])

In [132]:
condition = (my_array > 3)
condition

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [135]:
(my_array > 3)

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [137]:
(my_array < 8)

array([ True,  True,  True,  True,  True,  True,  True, False, False,
       False])

In [138]:
# when you use this mask, it only returns the values for which the results were True
my_array[(my_array > 3)]

array([ 4,  5,  6,  7,  8,  9, 10])

## Now in a dataframe

Let's find the rows in which the Cylinders values are exactly 6.

In [139]:
data['Cylinders'].value_counts()

4.0     13494
6.0     12765
8.0      7998
5.0       723
12.0      562
3.0       201
10.0      153
2.0        48
16.0        8
Name: Cylinders, dtype: int64

In [140]:
data['Cylinders']

0        4.0
1        6.0
2        4.0
3        6.0
4        6.0
        ...
35947    3.0
35948    3.0
35949    3.0
35950    3.0
35951    3.0
Name: Cylinders, Length: 35952, dtype: float64

In [141]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [144]:
data_bkp = data.copy()

In [142]:
(data['Cylinders'] = 6).sum()

12765

In [151]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [152]:
data['Cylinders'] == 6


data[data['Cylinders'] == 6]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35900,Wallace Environmental,Wetl 300 GE,1991,2.9,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Premium,27.467500,11,13,12,740.583333,3400
35901,Wallace Environmental,Wetl 300 SL,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35902,Wallace Environmental,Wetl 300 SL,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35903,Wallace Environmental,Wetl 300 TE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700
35904,Wallace Environmental,Wetl 300 TE,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700

In [156]:
data.iloc[data['Cylinders'] == 6]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [161]:
condition = (data['Cylinders'] == 6)

data.loc[condition, ['Make','Model']]

                        Make                Model
1                 AM General     FJ8c Post Office
3                 AM General  Post Office DJ8 2WD
4           ASC Incorporated                  GNX
7                      Acura          2.2CL/3.0CL
10                     Acura          2.3CL/3.0CL
...                      ...                  ...
35900  Wallace Environmental          Wetl 300 GE
35901  Wallace Environmental          Wetl 300 SL
35902  Wallace Environmental          Wetl 300 SL
35903  Wallace Environmental          Wetl 300 TE
35904  Wallace Environmental          Wetl 300 TE

[12765 rows x 2 columns]

In [162]:
data[data['Cylinders'] == 6]['Cylinders'].value_counts()

6.0    12765
Name: Cylinders, dtype: int64

## You can combine conditions

In [172]:
np.array([False, False, True]) and np.array([False, True, True])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [178]:
filtered = data[(data['Make']=='Ford') &
                (data['Cylinders']==6) &
                (data['Combined MPG'] < 18)]

filtered.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950

## You can put the conditions in variables as well

In [179]:
condition1 = (data['Make']=='Ford')
condition2 = (data['Cylinders']==6)
condition3 = (data['Combined MPG'] < 18)

In [180]:
data[condition1 & condition2 & condition3]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [181]:
data.loc[condition1 & condition2 & condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

## Another way to do the same thing.

* using the method `query`

The method `query` receives a string in which you can say your condition. Important things:
- `query` is a method of your dataframe
- the columns of the dataframe DOES NOT NEED to be inside quotation marks `"`, because it searchs for it in your dataframe
- the values you are trying to compare needs to be with the same type as it is in your dataframe
- If your column has spaces, you have to call it using backticks like in the example below:

In [188]:
parameter = data.loc[0, 'Fuel Barrels/Year']

In [189]:


data.query(f'Make == "Ford" and Cylinders >= 6 and `Fuel Barrels/Year` == {parameter}')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [185]:
%%timeit

data.loc[condition1 & condition2 & condition3, :]

613 Âµs Â± 2.53 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

# Conditional Categories
    - Mask
    - .loc

In [ ]:
data['Transmission']

In [ ]:
data['Transmission'].str.startswith('A')

## I want to create a new column called TransType and call it "Automatic" if the value in Transmission starts with A, if it startswith M, I want to call it "Manual"

In [ ]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [ ]:
data.TransType.value_counts()

------

# Quick Review - Part 1

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('vehicles/vehicles.csv')

In [4]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [12]:
# iloc
df.iloc[100:200, 0:6].head().iloc[0:3]

      Make   Model  Year  Engine Displacement  Cylinders     Transmission
100  Acura  Legend  1989                  2.7        6.0     Manual 5-spd
101  Acura  Legend  1990                  2.7        6.0  Automatic 4-spd
102  Acura  Legend  1990                  2.7        6.0     Manual 5-spd

In [18]:
df.iloc[100:200, 0:3]

      Make   Model  Year
100  Acura  Legend  1989
101  Acura  Legend  1990
102  Acura  Legend  1990
103  Acura  Legend  1991
104  Acura  Legend  1991
..     ...     ...   ...
195  Acura      RL  2008
196  Acura      RL  2009
197  Acura      RL  2010
198  Acura      RL  2011
199  Acura      RL  2012

[100 rows x 3 columns]

In [14]:
df.iloc[100:200, [1,4]]

      Model  Cylinders
100  Legend        6.0
101  Legend        6.0
102  Legend        6.0
103  Legend        6.0
104  Legend        6.0
..      ...        ...
195      RL        6.0
196      RL        6.0
197      RL        6.0
198      RL        6.0
199      RL        6.0

[100 rows x 2 columns]

In [21]:
# .loc
df.loc[100:200, ['Make','Cylinders']]

      Make  Cylinders
100  Acura        6.0
101  Acura        6.0
102  Acura        6.0
103  Acura        6.0
104  Acura        6.0
..     ...        ...
196  Acura        6.0
197  Acura        6.0
198  Acura        6.0
199  Acura        6.0
200  Acura        6.0

[101 rows x 2 columns]

In [22]:
# .loc
df.loc[100:200, 'Make':'Cylinders']

      Make   Model  Year  Engine Displacement  Cylinders
100  Acura  Legend  1989                  2.7        6.0
101  Acura  Legend  1990                  2.7        6.0
102  Acura  Legend  1990                  2.7        6.0
103  Acura  Legend  1991                  3.2        6.0
104  Acura  Legend  1991                  3.2        6.0
..     ...     ...   ...                  ...        ...
196  Acura      RL  2009                  3.7        6.0
197  Acura      RL  2010                  3.7        6.0
198  Acura      RL  2011                  3.7        6.0
199  Acura      RL  2012                  3.7        6.0
200  Acura     RLX  2014                  3.5        6.0

[101 rows x 5 columns]

In [24]:
# .loc
df.loc[100:200, ['Make','Cylinders']]

      Make  Cylinders
100  Acura        6.0
101  Acura        6.0
102  Acura        6.0
103  Acura        6.0
104  Acura        6.0
..     ...        ...
196  Acura        6.0
197  Acura        6.0
198  Acura        6.0
199  Acura        6.0
200  Acura        6.0

[101 rows x 2 columns]

In [25]:
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [27]:
df[df['Year'] > 1992]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [28]:
df.loc[df['Year'] > 1992, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [29]:
df.query('Year > 1992')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [34]:
# 2 condicoes

# ano = 2016
# cilindro < 8
# Combined MPG < 30

condition1 = (df['Year'] == 2016)
condition2 = (df['Cylinders'] < 8)
condition3 = (df['Combined MPG'] < 30)

df.loc[condition1 & condition2 & condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
45,Acura,ILX,2016,2.4,4.0,Auto(AM8),Front-Wheel Drive,Compact Cars,Premium,11.365862,25,36,29,305.0,1400
123,Acura,MDX 2WD,2016,3.5,6.0,Automatic (S9),Front-Wheel Drive,Small Sport Utility Vehicle 2WD,Premium,14.330870,20,27,23,390.0,1750
124,Acura,MDX 2WD,2016,3.5,6.0,Automatic (S9),Front-Wheel Drive,Small Sport Utility Vehicle 2WD,Premium,14.982273,19,27,22,403.0,1850
138,Acura,MDX 4WD,2016,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,26,22,409.0,1850
139,Acura,MDX 4WD,2016,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,15.695714,18,26,21,412.0,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35874,Volvo,XC70 FWD,2016,2.0,4.0,Automatic (S8),Front-Wheel Drive,Small Sport Utility Vehicle 2WD,Regular,12.677308,23,31,26,344.0,1300
35880,Volvo,XC90 AWD,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Standard Sport Utility Vehicle 4WD,Premium,14.982273,20,25,22,397.0,1850
35881,Volvo,XC90 AWD,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Standard Sport Utility Vehicle 4WD,Premium,14.330870,22,25,23,384.0,1750
35884,Volvo,XC90 AWD PHEV,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Standard Sport Utility Vehicle 4WD,Premium and Electricity,8.670674,24,27,25,241.0,1600
35890,Volvo,XC90 FWD,2016,2.0,4.0,Automatic (S8),Front-Wheel Drive,Standard Sport Utility Vehicle 2WD,Premium,13.733750,22,26,24,373.0,1700

In [36]:
df.loc[condition1 or condition2 or condition3, :]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [37]:
df.loc[condition1 | condition2 | condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [42]:
condition1 | condition2

0        True
1        True
2        True
3        True
4        True
         ...
35947    True
35948    True
35949    True
35950    True
35951    True
Length: 35952, dtype: bool

In [47]:
(df.Year > 1984) & (df.Year < 1986)

0        False
1        False
2         True
3         True
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Year, Length: 35952, dtype: bool

In [52]:
f'1984 < Year < {ano}'

'1984 < Year < 1996'

In [51]:
ano = 1996
df.query(f'1984 < Year < {ano}')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
49,Acura,Integra,1986,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350

In [53]:
df.loc[(condition1 & condition2) | condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

# Data Manipulation - PART 2

# Group by 
>    - Aggregating function (f)
>    - as_index = False
>    - ```pd.merge``` 
>    - `left_on`, `right_on`

In [59]:
data = pd.read_csv('vehicles/vehicles.csv')
data.rename(columns={'Make':'Manufacturer'}, inplace=True)
# inplace=True segundo a Fernanda

In [61]:
data = data.rename(columns={'Make':'Manufacturer'})

In [62]:
data.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [66]:
# data['Manufacturer'] # o mesmo que data.Manufacturer

data.Manufacturer.unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [67]:
data.groupby(by='Manufacturer')

In [68]:
data.groupby(by='Manufacturer').mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Manufacturer,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...
Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [71]:
data.Drivetrain.unique()

array(['2-Wheel Drive', 'Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', 'All-Wheel Drive', '4-Wheel Drive',
       'Part-time 4-Wheel Drive', '2-Wheel Drive, Front'], dtype=object)

In [83]:
data.Year.describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [85]:
(data.groupby(by='Drivetrain')).describe().T

Drivetrain            2-Wheel Drive  2-Wheel Drive, Front  4-Wheel Drive  \
Year           count     423.000000                   1.0    1058.000000
               mean     1984.434988                2017.0    2013.137996
               std         2.720800                   NaN       2.896488
               min      1984.000000                2017.0    1986.000000
               25%      1984.000000                2017.0    2011.000000
...                             ...                   ...            ...
Fuel Cost/Year min      1150.000000                1450.0    1150.000000
               25%      1750.000000                1450.0    1700.000000
               50%      2100.000000                1450.0    1950.000000
               75%      2550.000000                1450.0    2200.000000
               max      3700.000000                1450.0    3400.000000

Drivetrain            4-Wheel or All-Wheel Drive  All-Wheel Drive  \
Year           count                 6503.000000      2039.000000
               mean                  1998.014916      2013.678274
               std                      7.971550         2.242307
               min                   1984.000000      2009.000000
               25%                   1991.000000      2012.000000
...                                          ...              ...
Fuel Cost/Year min                   1200.000000      1000.000000
               25%                   1850.000000      1550.000000
               50%                   2150.000000      1750.000000
               75%                   2400.000000      2150.000000
               max                   4050.000000      4050.000000

Drivetrain            Front-Wheel Drive  Part-time 4-Wheel Drive  \
Year           count       13044.000000               158.000000
               mean         2000.290632              2013.816456
               std             9.795178                 2.080662
               min          1985.000000              2010.000000
               25%          1992.000000              2012.000000
...                                 ...                      ...
Fuel Cost/Year min           600.000000              1650.000000
               25%          1300.000000              1850.000000
               50%          1450.000000              2100.000000
               75%          1650.000000              2200.000000
               max          2700.000000              3700.000000

Drivetrain            Rear-Wheel Drive
Year           count      12726.000000
               mean        1999.801037
               std            9.964031
               min         1984.000000
               25%         1991.000000
...                                ...
Fuel Cost/Year min         1000.000000
               25%         1850.000000
               50%         2100.000000
               75%         2400.000000
               max         5800.000000

[72 rows x 8 columns]

In [87]:
data.Cylinders.unique()

array([ 4.,  6.,  5.,  8., 12., 10.,  2.,  3., 16.])

In [92]:
data.groupby(by='Cylinders')

In [95]:
data.query('Cylinders == 2')['Fuel Cost/Year'].mean()

2004.1666666666667

In [99]:
data.query('Cylinders == 2')

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050
23123,Mazda,RX-7,1985,1.1,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23124,Mazda,RX-7,1985,1.1,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
23125,Mazda,RX-7,1985,1.1,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
23126,Mazda,RX-7,1985,1.1,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23127,Mazda,RX-7,1985,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23128,Mazda,RX-7,1986,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Regular,18.311667,15,22,18,493.722222,1850
23129,Mazda,RX-7,1987,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23130,Mazda,RX-7,1987,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
23131,Mazda,RX-7,1987,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23132,Mazda,RX-7,1988,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23133,Mazda,RX-7,1988,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23134,Mazda,RX-7,1988,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
23135,Mazda,RX-7,1989,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23136,Mazda,RX-7,1989,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
23137,Mazda,RX-7,1989,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23138,Mazda,RX-7,1990,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23139,Mazda,RX-7,1990,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
23140,Mazda,RX-7,1990,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23141,Mazda,RX-7,1991,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23142,Mazda,RX-7,1991,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
23143,Mazda,RX-7,1991,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23144,Mazda,RX-7,1992,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23145,Mazda,RX-7,1992,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
23146,Mazda,RX-7,1993,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
23147,Mazda,RX-7,1993,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250
23148,Mazda,RX-7,1994,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
23149,Mazda,RX-7,1994,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250
23150,Mazda,RX-7,1995,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,22,18,493.722222,2250
23151,Mazda,RX-7,1995,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250
23152,Mazda,RX-8,2004,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23153,Mazda,RX-8,2004,1.3,2.0,Automatic (S4),Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23154,Mazda,RX-8,2005,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23155,Mazda,RX-8,2005,1.3,2.0,Automatic (S4),Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23156,Mazda,RX-8,2006,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23157,Mazda,RX-8,2006,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
23158,Mazda,RX-8,2007,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23159,Mazda,RX-8,2007,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
23160,Mazda,RX-8,2008,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23161,Mazda,RX-8,2008,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
23162,Mazda,RX-8,2009,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23163,Mazda,RX-8,2009,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
23164,Mazda,RX-8,2010,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23165,Mazda,RX-8,2010,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
23166,Mazda,RX-8,2011,1.3,2.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
23167,Mazda,RX-8,2011,1.3,2.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150

In [101]:
data.groupby(by='Cylinders').count()

,Manufacturer,Model,Year,Engine Displacement,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Cylinders,,,,,,,,,,,,,,
2.0,48,48,48,48,48,48,48,48,48,48,48,48,48,48
3.0,201,201,201,201,201,201,201,201,201,201,201,201,201,201
4.0,13494,13494,13494,13494,13494,13494,13494,13494,13494,13494,13494,13494,13494,13494
5.0,723,723,723,723,723,723,723,723,723,723,723,723,723,723
6.0,12765,12765,12765,12765,12765,12765,12765,12765,12765,12765,12765,12765,12765,12765
8.0,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998
10.0,153,153,153,153,153,153,153,153,153,153,153,153,153,153
12.0,562,562,562,562,562,562,562,562,562,562,562,562,562,562
16.0,8,8,8,8,8,8,8,8,8,8,8,8,8,8

In [91]:
data.groupby(by='Cylinders').mean()[['Fuel Cost/Year']]

           Fuel Cost/Year
Cylinders
2.0           2004.166667
3.0            962.437811
4.0           1487.879798
5.0           1813.278008
6.0           1943.196240
8.0           2414.734934
10.0          2926.797386
12.0          3143.149466
16.0          4050.000000

In [102]:
avg_mpg = data.groupby(by='Manufacturer').mean()
avg_mpg.head()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Manufacturer,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818

In [103]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg.head()

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818

In [105]:
avg_mpg = data.groupby(by='Manufacturer').mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Manufacturer,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...
Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [116]:
# avg_mpg.reset_index().query('Year > 1990').reset_index(drop=True)

In [118]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg

# avg_mpg[['Manufacturer', 'Combined MPG']].head()

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...,...
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [120]:
# mais de uma chave

data.groupby(by=['Manufacturer','Cylinders']).mean()

                                        Year  Engine Displacement  \
Manufacturer          Cylinders
AM General            4.0        1984.500000             2.500000
                      6.0        1984.500000             4.200000
ASC Incorporated      6.0        1987.000000             3.800000
Acura                 4.0        2003.018018             2.060360
                      5.0        1994.400000             2.500000
...                                      ...                  ...
Wallace Environmental 6.0        1991.444444             2.900000
                      8.0        1991.416667             5.600000
                      12.0       1991.714286             5.085714
Yugo                  4.0        1988.375000             1.200000
smart                 3.0        2012.500000             0.980000

                                 Fuel Barrels/Year   City MPG  Highway MPG  \
Manufacturer          Cylinders
AM General            4.0                19.994724  17.000000    17.000000
                      6.0                25.354615  13.000000    13.000000
ASC Incorporated      6.0                20.600625  14.000000    21.000000
Acura                 4.0                13.730928  21.603604    28.747748
                      5.0                16.480500  17.900000    23.500000
...                                            ...        ...          ...
Wallace Environmental 6.0                22.584389  14.555556    15.666667
                      8.0                25.354615  11.000000    15.000000
                      12.0               29.146832   9.571429    14.714286
Yugo                  4.0                13.206218  23.000000    28.250000
smart                 3.0                 9.208922  33.300000    39.300000

                                 Combined MPG  CO2 Emission Grams/Mile  \
Manufacturer          Cylinders
AM General            4.0           16.500000               539.101103
                      6.0           13.000000               683.615385
ASC Incorporated      6.0           16.000000               555.437500
Acura                 4.0           24.270270               370.291343
                      5.0           20.000000               444.350000
...                                       ...                      ...
Wallace Environmental 6.0           14.666667               608.924074
                      8.0           13.000000               683.615385
                      12.0          11.428571               785.861755
Yugo                  4.0           25.000000               356.068256
smart                 3.0           35.800000               247.030556

                                 Fuel Cost/Year
Manufacturer          Cylinders
AM General            4.0           2025.000000
                      6.0           2550.000000
ASC Incorporated      6.0           2550.000000
Acura                 4.0           1563.063063
                      5.0           2000.000000
...                                         ...
Wallace Environmental 6.0           2777.777778
                      8.0           3100.000000
                      12.0          3585.714286
Yugo                  4.0           1350.000000
smart                 3.0           1110.000000

[257 rows x 8 columns]

In [121]:
data.groupby(by=['Manufacturer','Cylinders'], as_index=False).mean()

,Manufacturer,Cylinders,Year,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,4.0,1984.500000,2.500000,19.994724,17.000000,17.000000,16.500000,539.101103,2025.000000
1,AM General,6.0,1984.500000,4.200000,25.354615,13.000000,13.000000,13.000000,683.615385,2550.000000
2,ASC Incorporated,6.0,1987.000000,3.800000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
3,Acura,4.0,2003.018018,2.060360,13.730928,21.603604,28.747748,24.270270,370.291343,1563.063063
4,Acura,5.0,1994.400000,2.500000,16.480500,17.900000,23.500000,20.000000,444.350000,2000.000000
...,...,...,...,...,...,...,...,...,...,...
252,Wallace Environmental,6.0,1991.444444,2.900000,22.584389,14.555556,15.666667,14.666667,608.924074,2777.777778
253,Wallace Environmental,8.0,1991.416667,5.600000,25.354615,11.000000,15.000000,13.000000,683.615385,3100.000000
254,Wallace Environmental,12.0,1991.714286,5.085714,29.146832,9.571429,14.714286,11.428571,785.861755,3585.714286
255,Yugo,4.0,1988.375000,1.200000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
256,smart,3.0,2012.500000,0.980000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [124]:
avg_mpg_two_keys = data.groupby(by=['Manufacturer','Cylinders']).mean().reset_index()

## Rename it using .rename if you want

In [126]:
avg_mpg.rename(columns={'Fuel Cost/Year': 'avg_fuel_cost_year'})

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,avg_fuel_cost_year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...,...
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [132]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(['mean','count'])

                  mean  count
Cylinders
2.0        2004.166667     48
3.0         962.437811    201
4.0        1487.879798  13494
5.0        1813.278008    723
6.0        1943.196240  12765
8.0        2414.734934   7998
10.0       2926.797386    153
12.0       3143.149466    562
16.0       4050.000000      8

In [141]:
avg_fuel = data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(avg_fuel='mean',qtd_fuel='count').reset_index()
avg_fuel

   Cylinders     avg_fuel  qtd_fuel
0        2.0  2004.166667        48
1        3.0   962.437811       201
2        4.0  1487.879798     13494
3        5.0  1813.278008       723
4        6.0  1943.196240     12765
5        8.0  2414.734934      7998
6       10.0  2926.797386       153
7       12.0  3143.149466       562
8       16.0  4050.000000         8

In [140]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].describe()

,count,mean,std,min,25%,50%,75%,max
Cylinders,,,,,,,,
2.0,48.0,2004.166667,293.154765,1050.0,1950.0,1950.0,2250.0,2250.0
3.0,201.0,962.437811,168.209772,650.0,850.0,1000.0,1100.0,1450.0
4.0,13494.0,1487.879798,278.101583,600.0,1300.0,1450.0,1650.0,2800.0
5.0,723.0,1813.278008,250.726178,1250.0,1750.0,1850.0,1950.0,2400.0
6.0,12765.0,1943.196240,274.865226,1200.0,1750.0,1950.0,2150.0,3400.0
8.0,7998.0,2414.734934,407.337968,1500.0,2150.0,2400.0,2550.0,5050.0
10.0,153.0,2926.797386,417.543968,2000.0,2550.0,2900.0,3100.0,4500.0
12.0,562.0,3143.149466,501.399335,2200.0,2900.0,3100.0,3400.0,5800.0
16.0,8.0,4050.000000,0.000000,4050.0,4050.0,4050.0,4050.0,4050.0

In [142]:
avg_mpg

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
...,...,...,...,...,...,...,...,...,...,...
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [143]:
data

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

# How to merge dataframes based on a specific column

In [147]:
avg_mpg.rename(columns={'Fuel Cost/Year':'avg_fuel_cost'}, inplace=True)

In [148]:
avg_mpg.head()

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,avg_fuel_cost
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818

In [145]:
data.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [149]:
pd.merge(left=data, right=avg_mpg, on='Manufacturer')

,Manufacturer,Model,Year_x,Engine Displacement_x,Cylinders_x,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year_x,...,Fuel Cost/Year,Year_y,Engine Displacement_y,Cylinders_y,Fuel Barrels/Year_y,City MPG_y,Highway MPG_y,Combined MPG_y,CO2 Emission Grams/Mile_y,avg_fuel_cost
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,...,1950,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,2550,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,...,2100,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,2550,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,...,2550,1987.0,3.80,6.0,20.600625,14.0,21.0,16.00,555.437500,2550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,1100,2012.5,0.98,3.0,9.208922,33.3,39.3,35.80,247.030556,1110.0
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,1100,2012.5,0.98,3.0,9.208922,33.3,39.3,35.80,247.030556,1110.0
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,1100,2012.5,0.98,3.0,9.208922,33.3,39.3,35.80,247.030556,1110.0
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,1100,2012.5,0.98,3.0,9.208922,33.3,39.3,35.80,247.030556,1110.0
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,...,1150,2012.5,0.98,3.0,9.208922,33.3,39.3,35.80,247.030556,1110.0

In [152]:
merged_table = pd.merge(left=data, right=avg_mpg[['Manufacturer','avg_fuel_cost']], on='Manufacturer')

## E se tivessemos nomes diferentes de coluna Manufacturer

In [153]:
avg_mpg.rename(columns={'Manufacturer':'Make'}, inplace=True)

In [156]:
avg_mpg.head(2)

,Make,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,avg_fuel_cost
0,AM General,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
1,ASC Incorporated,1987.0,3.80,6.0,20.600625,14.0,21.0,16.00,555.437500,2550.0

In [157]:
data.head(2)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [171]:
pd.merge(left=data,
         right=avg_mpg[['Make','avg_fuel_cost']],
         left_on='Manufacturer',
         right_on='Make')

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Make,avg_fuel_cost
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,AM General,2287.5
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,AM General,2287.5
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,AM General,2287.5
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,AM General,2287.5
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,ASC Incorporated,2550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,smart,1110.0
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,smart,1110.0
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,smart,1110.0
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,smart,1110.0
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,smart,1110.0

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Manu').head(2)

# How to concatenate dataframes?

In [173]:
# creating a dataframe containing only the Manufacturer Lexus
lexus = data.loc[data['Manufacturer']=='Lexus', :]
lexus.head(2)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
21128,Lexus,CT 200h,2011,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
21129,Lexus,CT 200h,2012,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800

In [176]:
# creating a dataframe containing only the Manufacturer Audi
audi = data.loc[data['Manufacturer'] == 'Audi', :]

In [178]:
audi.head(2)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
503,Audi,100,1989,2.3,5.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,17,20,18,493.722222,1850
504,Audi,100,1989,2.3,5.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,17.347895,16,23,19,467.736842,1750

In [187]:
# Concatenating both results

lexus_audi = pd.concat([lexus, audi], axis=0)
# lexus_audi.reset_index(drop=True).drop(columns=[''])

lexus_audi.reset_index(drop=True)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,Lexus,CT 200h,2011,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
1,Lexus,CT 200h,2012,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
2,Lexus,CT 200h,2013,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
3,Lexus,CT 200h,2014,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,179.000000,800
4,Lexus,CT 200h,2015,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium,14.330870,20,27,23,394.000000,1750
1283,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,14.330870,20,27,23,394.000000,1750
1284,Audi,allroad quattro,2014,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,14.330870,20,27,23,394.000000,1750
1285,Audi,allroad quattro,2015,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,13.733750,21,28,24,373.000000,1700
1286,Audi,allroad quattro,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,13.733750,21,28,24,373.000000,1700

In [190]:
# Concatenating both results

# pd.concat([lexus, audi], axis=1)

In [195]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Make', indicator=True)

0        both
1        both
2        both
3        both
4        both
         ...
35947    both
35948    both
35949    both
35950    both
35951    both
Name: _merge, Length: 35952, dtype: category
Categories (3, object): [left_only, right_only, both]

In [199]:
data.to_json('vehicles/test.json', orient='records')

In [ ]:
melted = pd.melt(data, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted.head(10)

# Bins
> ```pd.cut``` vs ```pd.qcut```
> - Specify cutoffs

> - Use case
>     - Scores ~ decis (0,1,2,3,4,5,6,7,8,9)


Suppose I want to break the values of the variable `Combined MPG` into 5 categories: From Very Low to Very High

In [ ]:
data.head()

In [ ]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [ ]:
# performing the pd.cut operation without specifiyng the labels outputs the intervals
bins = pd.cut(data['Fuel Cost/Year'], 5)
bins

In [ ]:
# performing the pd.cut operation using the labels argument outputs your labels
bins = pd.cut(data['Fuel Cost/Year'], 5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins = pd.qcut(data['Fuel Cost/Year'],5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts()

In [ ]:
cutoffs = [1000,1500,2000,2500,3000,3500]
bins = pd.cut(data['Fuel Cost/Year'], cutoffs, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts(sort=False)

# Convert categorical variables columns
>    - One hot encoding

In [ ]:
data[['Drivetrain']]
# count the values within each category

In [ ]:
data['Drivetrain'].unique()

In [ ]:
data[['Drivetrain']].head()

In [ ]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()