In [1]:
import pandas as pd

# Review Data Cleaning

In [3]:
# Missing

animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Species      62 non-null     object
 1   BodyWt       62 non-null     float64
 2   BrainWt      62 non-null     float64
 3   NonDreaming  48 non-null     float64
 4   Dreaming     50 non-null     float64
 5   TotalSleep   58 non-null     float64
 6   LifeSpan     58 non-null     float64
 7   Gestation    58 non-null     float64
 8   Predation    62 non-null     int64
 9   Exposure     62 non-null     int64
 10  Danger       62 non-null     int64
dtypes: float64(7), int64(3), object(1)
memory usage: 5.5+ KB

In [7]:
animals

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [8]:
animals.iloc[:, 4]

0     NaN
1     2.0
2     NaN
3     NaN
4     1.8
     ...
57    0.5
58    2.6
59    0.6
60    6.6
61    NaN
Name: Dreaming, Length: 62, dtype: float64

In [10]:
animals.loc[:, 'Dreaming']

0     NaN
1     2.0
2     NaN
3     NaN
4     1.8
     ...
57    0.5
58    2.6
59    0.6
60    6.6
61    NaN
Name: Dreaming, Length: 62, dtype: float64

In [11]:
animals['Dreaming']

0     NaN
1     2.0
2     NaN
3     NaN
4     1.8
     ...
57    0.5
58    2.6
59    0.6
60    6.6
61    NaN
Name: Dreaming, Length: 62, dtype: float64

In [13]:
# perguntando se era missing
animals['Dreaming'].isnull()

0      True
1     False
2      True
3      True
4     False
      ...
57    False
58    False
59    False
60    False
61     True
Name: Dreaming, Length: 62, dtype: bool

In [15]:
animals['Dreaming'].isnull().mean()

0.1935483870967742

In [24]:
animals.loc[animals['Dreaming'].isnull(), :]

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
13,Donkey,187.100,419.0,NaN,NaN,3.1,40.0,365.0,5,5,5
23,Gorilla,207.000,406.0,NaN,NaN,12.0,39.3,252.0,1,4,1
25,Graywolf,36.330,119.5,NaN,NaN,13.0,16.2,63.0,1,1,1
29,Jaguar,100.000,157.0,NaN,NaN,10.8,22.4,100.0,1,1,1
30,Kangaroo,35.000,56.0,NaN,NaN,NaN,16.3,33.0,3,5,4
46,Raccoon,4.288,39.2,NaN,NaN,12.5,13.7,63.0,2,2,2
52,Roedeer,14.830,98.2,NaN,NaN,2.6,17.0,150.0,5,5,5
54,Slowloris,1.400,12.5,NaN,NaN,11.0,12.7,90.0,2,2,2
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [18]:
animals.mean(axis=1)

0     1632.987500
1        7.770000
2       17.173125
3        8.302857
4      786.280000
         ...
57      23.960000
58       8.950400
59      32.779000
60       6.720000
61      11.007143
Length: 62, dtype: float64

In [27]:
animals.duplicated().sum()

0

In [38]:
animals[['Predation','Exposure','Danger']].duplicated().sum()

37

In [47]:
example = pd.DataFrame({'a':[1,1,3,4], 'b':[1,2,3,5], 'c':[1,1,3,4]})
example

   a  b  c
0  1  1  1
1  1  2  1
2  3  3  3
3  4  5  4

In [48]:
example.loc[example.duplicated(subset=['a', 'c'], keep=False), :]

   a  b  c
0  1  1  1
1  1  2  1

In [51]:
(example['a'] == example['c']).mean()

1.0

In [55]:
example

   a  b  c
0  1  1  1
1  1  2  1
2  3  3  3
3  4  5  4

In [60]:
example.drop_duplicates(subset=['a', 'c'])

   a  b  c
0  1  1  1
2  3  3  3
3  4  5  4

In [59]:
example.drop_duplicates(subset=['a', 'c'], keep='last')

   a  b  c
1  1  2  1
2  3  3  3
3  4  5  4

In [68]:
animals.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [69]:
df_bkp = animals.copy()

In [70]:
df_bkp.loc[2, 'BodyWt'] = 1000

In [72]:
animals

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [39]:
animals.loc[animals.duplicated(subset=['Predation','Exposure','Danger']), :]

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
6,Bigbrownbat,0.023,0.30,15.8,3.9,19.7,19.0,35.0,1,1,1
9,Chimpanzee,52.160,440.00,8.3,1.4,9.7,50.0,230.0,1,1,1
13,Donkey,187.100,419.00,NaN,NaN,3.1,40.0,365.0,5,5,5
14,EasternAmericanmole,0.075,1.20,6.3,2.1,8.4,3.5,42.0,1,1,1
16,Europeanhedgehog,0.785,3.50,6.6,4.1,10.7,6.0,42.0,2,2,2
17,Galago,0.200,5.00,9.5,1.2,10.7,10.4,120.0,2,2,2
18,Genet,1.410,17.50,4.8,1.3,6.1,34.0,NaN,1,2,1
19,Giantarmadillo,60.000,81.00,12.0,6.1,18.1,7.0,NaN,1,1,1
20,Giraffe,529.000,680.00,NaN,0.3,NaN,28.0,400.0,5,5,5
21,Goat,27.660,115.00,3.3,0.5,3.8,20.0,148.0,5,5,5
25,Graywolf,36.330,119.50,NaN,NaN,13.0,16.2,63.0,1,1,1
28,Horse,521.000,655.00,2.1,0.8,2.9,46.0,336.0,5,5,5
29,Jaguar,100.000,157.00,NaN,NaN,10.8,22.4,100.0,1,1,1
30,Kangaroo,35.000,56.00,NaN,NaN,NaN,16.3,33.0,3,5,4
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1
33,Man,62.000,1320.00,6.1,1.9,8.0,100.0,267.0,1,1,1
35,Mountainbeaver,1.350,8.10,8.4,2.8,11.2,NaN,45.0,3,1,3
37,Muskshrew,0.048,0.33,10.8,2.0,12.8,2.0,30.0,4,1,3
38,NAmericanopossum,1.700,6.30,13.8,5.6,19.4,5.0,12.0,2,1,1
39,Nine-bandedarmadillo,3.500,10.80,14.3,3.1,17.4,6.5,120.0,2,1,1
40,Okapi,250.000,490.00,NaN,1.0,NaN,23.6,440.0,5,5,5
41,Owlmonkey,0.480,15.50,15.2,1.8,17.0,12.0,140.0,2,2,2
42,Patasmonkey,10.000,115.00,10.0,0.9,10.9,20.2,170.0,4,4,4
43,Phanlanger,1.620,11.40,11.9,1.8,13.7,13.0,17.0,2,1,2
44,Pig,192.000,180.00,6.5,1.9,8.4,27.0,115.0,4,4,4
45,Rabbit,2.500,12.10,7.5,0.9,8.4,18.0,31.0,5,5,5
46,Raccoon,4.288,39.20,NaN,NaN,12.5,13.7,63.0,2,2,2
47,Rat,0.280,1.90,10.6,2.6,13.2,4.7,21.0,3,1,3
48,Redfox,4.235,50.40,7.4,2.4,9.8,9.8,52.0,1,1,1
50,Rockhyrax(Heterob),0.750,12.30,5.7,0.9,6.6,7.0,225.0,2,2,2
52,Roedeer,14.830,98.20,NaN,NaN,2.6,17.0,150.0,5,5,5
53,Sheep,55.500,175.00,3.2,0.6,3.8,20.0,151.0,5,5,5
54,Slowloris,1.400,12.50,NaN,NaN,11.0,12.7,90.0,2,2,2
55,Starnosedmole,0.060,1.00,8.1,2.2,10.3,3.5,NaN,3,1,2
56,Tenrec,0.900,2.60,11.0,2.3,13.3,4.5,60.0,2,1,2
57,Treehyrax,2.000,12.30,4.9,0.5,5.4,7.5,200.0,3,1,3
60,Wateropossum,3.500,3.90,12.8,6.6,19.4,3.0,14.0,2,1,1

In [36]:
animals.duplicated(subset=['Predation','Exposure','Danger']).sum()

37

In [81]:
np.argmax([1,2,5,23,7,3])

3

In [88]:
y = [10.3,2.,5.5,23.7,7.1,3.3]

In [89]:
np.argmax(y)

3

In [95]:
z = np.array(
    [[10, 7, 7, 13, 13], 
    [13, 5, 3, 16, 12]])

np.argmax(z)

8

In [93]:
import numpy as np 
x = np.array(
    [  
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [113]:
pd.DataFrame(x).iloc[:, [0,1]]

      0    1
0   0.0  1.0
1   1.0  0.0
2   0.0  0.0
3   0.0  1.0
4   0.0  1.0
5   1.0  0.0
6   0.0  1.0
7   0.0  0.0
8   0.0  1.0
9   0.0  1.0
10  0.0  0.0
11  1.0  0.0
12  1.0  0.0
13  1.0  0.0
14  1.0  0.0
15  0.0  1.0
16  0.0  0.0
17  0.0  1.0
18  0.0  1.0
19  0.0  0.0
20  1.0  0.0
21  0.0  0.0
22  1.0  0.0
23  0.0  0.0
24  0.0  0.0
25  0.0  0.0
26  0.0  0.0
27  0.0  0.0
28  1.0  0.0
29  1.0  0.0

In [112]:
pd.DataFrame(x).iloc[:, [0,1]].sum()

0    10.0
1     9.0
dtype: float64

In [114]:
pd.DataFrame(x).iloc[:, [0,1]].sum(axis=1)

0     1.0
1     1.0
2     0.0
3     1.0
4     1.0
5     1.0
6     1.0
7     0.0
8     1.0
9     1.0
10    0.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    0.0
17    1.0
18    1.0
19    0.0
20    1.0
21    0.0
22    1.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    1.0
29    1.0
dtype: float64

In [109]:
pd.DataFrame(x).iloc[:, 1]

0     1.0
1     0.0
2     0.0
3     1.0
4     1.0
5     0.0
6     1.0
7     0.0
8     1.0
9     1.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    1.0
16    0.0
17    1.0
18    1.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
Name: 1, dtype: float64

In [108]:
pd.DataFrame(x).iloc[:, 1].sum()

9.0

In [98]:
x.argmax(axis=1)

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

# Read dataframe

> <i> Description </i>

Description: 

http://lib.stat.cmu.edu/datasets/sleep

In [115]:
animals = pd.read_csv('http://www.statsci.org/data/general/sleep.txt', sep='\t')

In [116]:
animals

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [122]:
# lower-case all columns using animals.columns

In [119]:
[column.lower() for column in animals.columns]

['species',
 'bodywt',
 'brainwt',
 'nondreaming',
 'dreaming',
 'totalsleep',
 'lifespan',
 'gestation',
 'predation',
 'exposure',
 'danger']

In [121]:
animals.columns = [column.lower() for column in animals.columns]

In [122]:
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [124]:
animals = df_bkp.copy()

In [125]:
animals

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [129]:
def normalize_columns(dataframe):
    """
    Receive a dataframe and put its columns in lowrercase.
    """
    dataframe.columns = [column.lower() for column in dataframe.columns]
    
    return

In [127]:
normalize_columns(animals)

In [130]:
animals = df_bkp.copy()

In [123]:
# Create function to normalize columns # organization

In [164]:
def normalize_columns(dataframe, is_inplace=False):
    """
    Receive a dataframe and put its columns in lowrercase.
    It also removes spaces for underlines.
    It also removes accents!!!!
    """
    import unidecode
    
    mapper = {column : unidecode.unidecode(column.lower().replace(' ','_')) for column in animals.columns}
    
    return dataframe.rename(columns=mapper, inplace=is_inplace)

In [148]:
normalize_columns(animals, is_inplace=True)

animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [145]:
animals.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [124]:
# start thinking of inplace vs copy

In [125]:
# change the idea to renaming using dictionaries.

In [126]:
# show that dicts can also be compreehensive

In [127]:
# increment the functionalities of that function

In [151]:
animals['coluna com espaco'] = -1

In [154]:
y = 'coluna com espaco'

y.replace(' ','_')

'coluna_com_espaco'

In [157]:
normalize_columns(animals, is_inplace=True)

In [159]:
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1

In [160]:
animals['ColunÃ¡h CÃµm AÃ§enntuuÃºh'] = -100000

In [162]:
import unidecode
unidecode.unidecode('ColunÃ¡h CÃµm AÃ§enntuuÃºh')

'Colunah Com Acenntuuuh'

In [166]:
normalize_columns(animals)

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000

In [128]:
# create new weird columns - spcaces

In [129]:
# create new weird columns - accents

In [131]:
# say we're gonna learn how to do that without using loops!

# DataFrame Calculations

## Performing calculations to create a new column

### Using constants

In [168]:
normalize_columns(animals, is_inplace=True)

In [169]:
animals['nome_coluna'] = 1

In [170]:
animals

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000,1
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000,1
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000,1
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000,1

In [174]:
animals['bodywt'] * 2.205

0     14672.07000
1         2.20500
2      2205.00000
3         2.02860
4      5616.13500
         ...
57        4.41000
58        0.22932
59        9.23895
60        7.71750
61        8.93025
Name: bodywt, Length: 62, dtype: float64

In [172]:
# from grams to pounds
animals['bodywt_pounds'] = animals['bodywt'] * 2.205

In [175]:
animals

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.07000
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.20500
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.00000
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.02860
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.13500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000,1,4.41000
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000,1,0.22932
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000,1,9.23895
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000,1,7.71750
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000,1,8.93025

In [176]:
# from grams to kg
animals['brainwt_kg'] = animals['brainwt'] / 1000

In [177]:
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.0700,5.7120
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.2050,0.0066
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.0000,0.0445
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.0286,0.0057
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.1350,4.6030

# Performing calculations using columns

In [178]:
# get the ratio between brain and body.
animals['ratio_brain_body'] = animals['brainwt'] / animals['bodywt']

In [179]:
# careful with scales!!
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.0700,5.7120,0.858431
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.2050,0.0066,6.600000
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.0000,0.0445,0.044500
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.0286,0.0057,6.195652
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.1350,4.6030,1.807224

In [180]:
# get the ratio between brain and body.
animals['ratio_brain_body'] = animals['brainwt_kg'] / animals['bodywt']

In [181]:
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.0700,5.7120,0.000858
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.2050,0.0066,0.006600
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.0000,0.0445,0.000044
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.0286,0.0057,0.006196
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.1350,4.6030,0.001807

In [184]:
# sort values to see results.
animals.sort_values(by='ratio_brain_body', ascending=False)

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body
26,Groundsquirrel,0.101,4.00,10.4,3.4,13.8,9.0,28.0,5,1,3,-1,-100000,1,0.222705,0.00400,0.039604
41,Owlmonkey,0.480,15.50,15.2,1.8,17.0,12.0,140.0,2,2,2,-1,-100000,1,1.058400,0.01550,0.032292
31,Lessershort-tailedshrew,0.005,0.14,7.7,1.4,9.1,2.6,21.5,5,2,4,-1,-100000,1,0.011025,0.00014,0.028000
49,Rhesusmonkey,6.800,179.00,8.4,1.2,9.6,29.0,164.0,2,3,2,-1,-100000,1,14.994000,0.17900,0.026324
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1,-1,-100000,1,0.022050,0.00025,0.025000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,Braziliantapir,160.000,169.00,5.2,1.0,6.2,30.4,392.0,4,5,4,-1,-100000,1,352.800000,0.16900,0.001056
44,Pig,192.000,180.00,6.5,1.9,8.4,27.0,115.0,4,4,4,-1,-100000,1,423.360000,0.18000,0.000937
11,Cow,465.000,423.00,3.2,0.7,3.9,30.0,281.0,5,5,5,-1,-100000,1,1025.325000,0.42300,0.000910
0,Africanelephant,6654.000,5712.00,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.070000,5.71200,0.000858
2,ArcticFox,1000.000,44.50,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.000000,0.04450,0.000044

## Performing calculations row-wise

### Calculate the sum of weights for each animal

In [188]:
animals['totalwt'] = animals[['bodywt','brainwt_kg']].sum(axis=1)

In [190]:
animals['totalwt'] = animals['bodywt'] + animals['brainwt_kg']

In [191]:
animals

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.07000,5.7120,0.000858,6659.7120
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.20500,0.0066,0.006600,1.0066
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.00000,0.0445,0.000044,1000.0445
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.02860,0.0057,0.006196,0.9257
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.13500,4.6030,0.001807,2551.6030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000,1,4.41000,0.0123,0.006150,2.0123
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000,1,0.22932,0.0025,0.024038,0.1065
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000,1,9.23895,0.0580,0.013842,4.2480
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000,1,7.71750,0.0039,0.001114,3.5039
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000,1,8.93025,0.0170,0.004198,4.0670

# Conditional Calculations

In [180]:
# Spare some time here.

In [200]:
animals['danger']

0     3
1     3
2     1
3     3
4     4
     ..
57    3
58    2
59    4
60    1
61    1
Name: danger, Length: 62, dtype: int64

In [201]:
animals.danger

0     3
1     3
2     1
3     3
4     4
     ..
57    3
58    2
59    4
60    1
61    1
Name: danger, Length: 62, dtype: int64

In [199]:
animalsdangervalue_counts()

1    19
2    14
4    10
3    10
5     9
Name: danger, dtype: int64

In [202]:
animals.danger.value_counts()

1    19
2    14
4    10
3    10
5     9
Name: danger, dtype: int64

In [205]:
# animals.groupby('danger').count()['species']

## Assign values based on conditions

In [207]:
# normalize = True returns percentages.
animals.danger.value_counts(normalize=True)

1    0.306452
2    0.225806
4    0.161290
3    0.161290
5    0.145161
Name: danger, dtype: float64

In [212]:
animals.loc[(animals['danger'] >= 4), 'flag_extincao'] = 1

In [214]:
# animals.loc[(animals['danger'] < 4), 'flag_extincao'] = 1
animals.loc[~(animals['danger'] >= 4), 'flag_extincao'] = 0

In [215]:
animals

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt,flag_extincao
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.07000,5.7120,0.000858,6659.7120,0.0
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.20500,0.0066,0.006600,1.0066,0.0
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.00000,0.0445,0.000044,1000.0445,0.0
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.02860,0.0057,0.006196,0.9257,0.0
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.13500,4.6030,0.001807,2551.6030,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000,1,4.41000,0.0123,0.006150,2.0123,0.0
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000,1,0.22932,0.0025,0.024038,0.1065,0.0
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000,1,9.23895,0.0580,0.013842,4.2480,1.0
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000,1,7.71750,0.0039,0.001114,3.5039,0.0
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000,1,8.93025,0.0170,0.004198,4.0670,0.0

In [192]:
animals.loc[(animals.danger >= 4), 'flag_extinction'] = 1

In [194]:
animals.loc[(animals.danger < 4), 'flag_extinction'] = 0

In [198]:
animals.loc[~(animals.danger >= 4), 'flag_extinction'] = -1

In [220]:
avg_bodywt = animals.bodywt.mean()

In [221]:
animals.loc[(animals.bodywt > avg_bodywt), 'flag_overweight'] = True
animals.loc[~(animals.bodywt > avg_bodywt), 'flag_overweight'] = False

In [222]:
animals

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt,flag_extincao,flag_overweight
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,-1,-100000,1,14672.07000,5.7120,0.000858,6659.7120,0.0,True
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,-1,-100000,1,2.20500,0.0066,0.006600,1.0066,0.0,False
2,ArcticFox,1000.000,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,-1,-100000,1,2205.00000,0.0445,0.000044,1000.0445,0.0,True
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,-1,-100000,1,2.02860,0.0057,0.006196,0.9257,0.0,False
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,-1,-100000,1,5616.13500,4.6030,0.001807,2551.6030,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,-1,-100000,1,4.41000,0.0123,0.006150,2.0123,0.0,False
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,-1,-100000,1,0.22932,0.0025,0.024038,0.1065,0.0,False
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,-1,-100000,1,9.23895,0.0580,0.013842,4.2480,1.0,False
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,-1,-100000,1,7.71750,0.0039,0.001114,3.5039,0.0,False
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,-1,-100000,1,8.93025,0.0170,0.004198,4.0670,0.0,False

### Quantiles
*Touching statistics*

![Data](images/data_quantiles.png)

![Percentiles](images/data_quantiles_q10.png)

![Quartiles](images/quartiles.jpg)

> Percentiles: 
    - q50 means that 50% of your dataset is below that number. That is the median value.
    - q90 means that 90% of your dataset is below that number.
    - q10 means that 10% of your dataset is below that number.

> Calculating the q50

In [226]:
animals[['bodywt']].query('bodywt <= 3.3425').shape

(31, 1)

In [237]:
animals['bodywt'].quantile(0.5)

3.3425

In [238]:
np.quantile(animals['bodywt'], 0.5)

3.3425

In [239]:
animals.bodywt.median()

3.3425

> Calculating the threshold for different quantiles

In [228]:
# say that animals above quantile 0.95 (percentile 95%) are super-overweight
animals.bodywt.quantile(0.95)

528.5999999999999

In [229]:
q95 = animals.bodywt.quantile(0.95)

In [249]:
# say that animals below quantile 0.1 (percentile 10%) are super-skinny
q10 = animals.bodywt.quantile(0.1)

In [251]:
q10

0.07760000000000002

In [246]:
pd.qcut(animals.drop(labels=[1,2]).bodywt, 10, labels=['a','b','c','d','e','f','g','h','i','j'])

0     j
3     d
4     j
5     g
6     a
7     i
8     e
9     h
10    c
11    j
12    c
13    i
14    b
15    e
16    c
17    b
18    d
19    h
20    j
21    g
22    b
23    i
24    i
25    h
26    b
27    d
28    j
29    i
30    h
31    a
32    a
33    h
34    b
35    d
36    a
37    a
38    e
39    f
40    j
41    c
42    g
43    e
44    i
45    e
46    g
47    c
48    f
49    g
50    c
51    f
52    g
53    h
54    d
55    a
56    d
57    e
58    b
59    f
60    f
61    f
Name: bodywt, dtype: category
Categories (10, object): [a < b < c < d ... g < h < i < j]

In [244]:
# Categorizing
pd.qcut(animals.drop(labels=[1,2]).bodywt, 10, labels=['a','b','c','d','e','f','g','h','i','j']).value_counts()

j    6
i    6
h    6
g    6
f    6
e    6
d    6
c    6
b    6
a    6
Name: bodywt, dtype: int64

In [248]:
q10

0.1    0.0776
0.2    0.3090
0.3    0.9060
0.4    1.4940
0.5    3.4000
Name: bodywt, dtype: float64

> Selecting (and counting) the observations that are above (or below) that threshold

In [232]:
# (animals.bodywt > q95).mean()

In [233]:
# (animals.bodywt > q10).mean()

In [250]:
animals.query(f'bodywt < {q10}')

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt,flag_extincao,flag_overweight
6,Bigbrownbat,0.023,0.30,15.8,3.9,19.7,19.0,35.0,1,1,1,-1,-100000,1,0.050715,0.00030,0.013043,0.02330,0.0,False
14,EasternAmericanmole,0.075,1.20,6.3,2.1,8.4,3.5,42.0,1,1,1,-1,-100000,1,0.165375,0.00120,0.016000,0.07620,0.0,False
31,Lessershort-tailedshrew,0.005,0.14,7.7,1.4,9.1,2.6,21.5,5,2,4,-1,-100000,1,0.011025,0.00014,0.028000,0.00514,1.0,False
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1,-1,-100000,1,0.022050,0.00025,0.025000,0.01025,0.0,False
36,Mouse,0.023,0.40,11.9,1.3,13.2,3.2,19.0,4,1,3,-1,-100000,1,0.050715,0.00040,0.017391,0.02340,0.0,False
37,Muskshrew,0.048,0.33,10.8,2.0,12.8,2.0,30.0,4,1,3,-1,-100000,1,0.105840,0.00033,0.006875,0.04833,0.0,False
55,Starnosedmole,0.060,1.00,8.1,2.2,10.3,3.5,NaN,3,1,2,-1,-100000,1,0.132300,0.00100,0.016667,0.06100,0.0,False

In [263]:
# selecting them:

animals.loc[(animals.bodywt < q10), 'flag_extinction'] = 10

In [264]:
# inputing value based on a condition.
animals.loc[(animals.bodywt < q10),:]

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,bodywt_pounds,brainwt_kg,ratio_brain_body,ratio_scaled,totalwt,flag_extinction,flag_overweight,wt_based_q95
6,Bigbrownbat,0.023,0.30,15.8,3.9,19.7,19.0,35.0,1,1,1,0.050715,0.00030,0.013043,1.375341,0.02330,10.0,False,-12893892139
31,Lessershort-tailedshrew,0.005,0.14,7.7,1.4,9.1,2.6,21.5,5,2,4,0.011025,0.00014,0.028000,1.375995,0.00514,10.0,False,-12893892139
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1,0.022050,0.00025,0.025000,1.375494,0.01025,10.0,False,-12893892139
36,Mouse,0.023,0.40,11.9,1.3,13.2,3.2,19.0,4,1,3,0.050715,0.00040,0.017391,1.374855,0.02340,10.0,False,-12893892139
37,Muskshrew,0.048,0.33,10.8,2.0,12.8,2.0,30.0,4,1,3,0.105840,0.00033,0.006875,1.375368,0.04833,10.0,False,-12893892139
55,Starnosedmole,0.060,1.00,8.1,2.2,10.3,3.5,NaN,3,1,2,0.132300,0.00100,0.016667,1.372193,0.06100,10.0,False,-12893892139

## Numpy where

In [252]:
q95 = animals.bodywt.quantile(0.95)

In [253]:
import numpy as np

> np.where(condition is true, then this value, else this value)

In [254]:
np.where(animals['bodywt'] > q95, 'SUPER-OVERWEIGHT','NORMAL')

array(['SUPER-OVERWEIGHT', 'NORMAL', 'SUPER-OVERWEIGHT', 'NORMAL',
       'SUPER-OVERWEIGHT', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'SUPER-OVERWEIGHT', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL', 'NORMAL',
       'NORMAL'], dtype='<U16')

In [255]:
animals['wt_based_q95'] = np.where(animals['bodywt'] > q95, 'SUPER-OVERWEIGHT','NORMAL')

In [256]:
# animals['wt_based_q95'] = np.where(animals['bodywt'] > q95, 2783,-1232)

In [257]:
animals.head()

,species,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,...,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt,flag_extincao,flag_overweight,wt_based_q95
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,...,-1,-100000,1,14672.0700,5.7120,0.000858,6659.7120,0.0,True,SUPER-OVERWEIGHT
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0,3,1,...,-1,-100000,1,2.2050,0.0066,0.006600,1.0066,0.0,False,NORMAL
2,ArcticFox,1000.00,44.5,NaN,NaN,12.5,14.0,60.0,1,1,...,-1,-100000,1,2205.0000,0.0445,0.000044,1000.0445,0.0,True,SUPER-OVERWEIGHT
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0,5,2,...,-1,-100000,1,2.0286,0.0057,0.006196,0.9257,0.0,False,NORMAL
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,...,-1,-100000,1,5616.1350,4.6030,0.001807,2551.6030,1.0,True,SUPER-OVERWEIGHT

In [258]:
animals['wt_based_q95_q10'] = np.where(animals.bodywt > q95, 'SUPER-WEIGHT', 
                                       np.where(animals.bodywt < q10, 'SUPER-SKINNY', 'NORMAL'))

In [260]:
animals.wt_based_q95_q10.value_counts()

NORMAL          51
SUPER-SKINNY     7
SUPER-WEIGHT     4
Name: wt_based_q95_q10, dtype: int64

In [268]:
# animals.wt_based_q95.value_counts()

# Bonus: 

## Correlation

*Touching statistics*

In [262]:
animals.corr()

,bodywt,brainwt,nondreaming,dreaming,totalsleep,lifespan,gestation,predation,exposure,danger,coluna_com_espaco,colunah_com_acenntuuuh,nome_coluna,bodywt_pounds,brainwt_kg,ratio_brain_body,totalwt,flag_extincao
bodywt,1.000000,0.924013,-0.375946,-0.109383,-0.297372,0.294700,0.636916,0.036253,0.320300,0.112578,NaN,NaN,NaN,1.000000,0.924013,-0.217528,1.000000,0.036280
brainwt,0.924013,1.000000,-0.369218,-0.105139,-0.358102,0.509253,0.747242,0.033855,0.367800,0.145879,NaN,NaN,NaN,0.924013,1.000000,-0.191752,0.924163,0.116030
nondreaming,-0.375946,-0.369218,1.000000,0.514254,0.962715,-0.384432,-0.594703,-0.318185,-0.543757,-0.483852,NaN,NaN,NaN,-0.375946,-0.369218,0.344769,-0.375964,-0.422221
dreaming,-0.109383,-0.105139,0.514254,1.000000,0.727087,-0.295745,-0.450899,-0.447471,-0.537225,-0.579337,NaN,NaN,NaN,-0.109383,-0.105139,-0.056772,-0.109385,-0.484901
totalsleep,-0.297372,-0.358102,0.962715,0.727087,1.000000,-0.410202,-0.631326,-0.395835,-0.642285,-0.587742,NaN,NaN,NaN,-0.297372,-0.358102,0.244163,-0.297458,-0.512929
lifespan,0.294700,0.509253,-0.384432,-0.295745,-0.410202,1.000000,0.614849,-0.102544,0.360352,0.061778,NaN,NaN,NaN,0.294700,0.509253,-0.109914,0.294943,0.195450
gestation,0.636916,0.747242,-0.594703,-0.450899,-0.631326,0.614849,1.000000,0.200504,0.638279,0.378617,NaN,NaN,NaN,0.636916,0.747242,-0.284863,0.637079,0.384384
predation,0.036253,0.033855,-0.318185,-0.447471,-0.395835,-0.102544,0.200504,1.000000,0.618246,0.916042,NaN,NaN,NaN,0.036253,0.033855,-0.059757,0.036254,0.751371
exposure,0.320300,0.367800,-0.543757,-0.537225,-0.642285,0.360352,0.638279,0.618246,1.000000,0.787203,NaN,NaN,NaN,0.320300,0.367800,-0.312180,0.320374,0.835898
danger,0.112578,0.145879,-0.483852,-0.579337,-0.587742,0.061778,0.378617,0.916042,0.787203,1.000000,NaN,NaN,NaN,0.112578,0.145879,-0.187969,0.112621,0.865224
coluna_com_espaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
colunah_com_acenntuuuh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nome_coluna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bodywt_pounds,1.000000,0.924013,-0.375946,-0.109383,-0.297372,0.294700,0.636916,0.036253,0.320300,0.112578,NaN,NaN,NaN,1.000000,0.924013,-0.217528,1.000000,0.036280
brainwt_kg,0.924013,1.000000,-0.369218,-0.105139,-0.358102,0.509253,0.747242,0.033855,0.367800,0.145879,NaN,NaN,NaN,0.924013,1.000000,-0.191752,0.924163,0.116030
ratio_brain_body,-0.217528,-0.191752,0.344769,-0.056772,0.244163,-0.109914,-0.284863,-0.059757,-0.312180,-0.187969,NaN,NaN,NaN,-0.217528,-0.191752,1.000000,-0.217519,-0.221066
totalwt,1.000000,0.924163,-0.375964,-0.109385,-0.297458,0.294943,0.637079,0.036254,0.320374,0.112621,NaN,NaN,NaN,1.000000,0.924163,-0.217519,1.000000,0.036365
flag_extincao,0.036280,0.116030,-0.422221,-0.484901,-0.512929,0.195450,0.384384,0.751371,0.835898,0.865224,NaN,NaN,NaN,0.036280,0.116030,-0.221066,0.036365,1.000000

# Today:

- Creating columns based on: 
   - mathematical calculations, 
   - column based calculations, 
   - conditions
   - variable conditions
- quantiles 
- correlations